%h2 Blog pages
%ul#page-list
- for page in @pages
  %li
    = link_to page.title, url(:publish, :action => "edit", :id => page.id)
    \-
    = link_to 'delete', url(:publish, :action => "destroy", :id => page.id)
    
%h3
  = link_to 'New page', url(:publish, :action => "new")