*
  margin: 0
  padding: 0

body
  font-size: 69%
  background: #fff

p,  li
  font: 1.2em/1.8em Tahoma, sans-serif
  margin-bottom: 10px

h1
  font: 2.0em Tahoma, sans-serif
  color: white
  height: 0px

h2
  font: 1.8em Tahoma, sans-serif
  color: green
  margin-bottom: 10px

ul
  margin-left: 15px

img
  border: none

#page-wrap
  background: white
  min-width: 780px
  max-width: 1260px
  margin: 10px auto
  width: expression(document.body.clientWidth < 782? "780px" : document.body.clientWidth > 1262? "1260px" : "auto")

  #inside
    margin: 10px 10px 0px 10px
    padding-top: 10px
    padding-bottom: 10px


#main-content
  padding-left: 230px
  padding-top: 20px


#header
  text-align: center


#left-sidebar
  width: 150px
  float: left
  padding-left: 15px
  padding-top: 20px


#footer
  text-align: center
  padding-top: 20px
  padding-bottom: 20px
  color: white
  
ul#header-menu
  width: 100%
  margin-left: 10px
  li
    list-style-type: none
    float: left
    width: 10%
    a
      display: block
      padding: 5px
      color: black
      border-bottom: 3px black solid
      text-decoration: none
      &:hover
        border-bottom-color: #999
  li.last
    width: 70%
    a:hover
      border-bottom-color: black

